body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

#main-container {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
}

.rounded-box {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    padding: 16px;
}

p {
    margin: 0;
}

/*Levels map styles*/

#levels-map-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}


.level-card {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;

}

.level-card h3 {
    padding: 0;
    margin: 0;
}

.level-card p {
    margin: 0;
}

/*Game styles*/
#game-container {
    display: none;
    flex-direction: column;
    gap: 20px;
    font-size: x-large;
}

#question-container p {
    margin: 24px 0;
}

#answers-container {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#answers {
    display: flex;
    gap: 10px;
}

#answer-submit {
    background-color: black;
    color: white;
    width: 80px;
}

#answer-submit,
#answers .option-div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0px 16px;
    height: 80px;
}

.options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
}

.options-row {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.option-div {
    height: 100px;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.option-div:hover {
    background-color: black;
    color: white;
}

.hidden {
    display: none !important;
}
